includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    phpVersion: 80200  # For PHP 8.2
    paths:
        - app\Contracts
    level: 4
    ignoreErrors:
        
    excludePaths:
        - ./*/*/FileToBeExcluded.php

